Package: ipfix2any
Version: #VERSION#
Priority: optional
Architecture: #ARCH#
Section: net
Homepage: http://no-homepage
Installed-Size: #SIZE#
Maintainer: Tom
Description: K software
Source: none
Depends: #DEPENDS#
